@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";


/*
@theme is a smart version of :root folder
It does 2 things:
1. Generates CSS Variables: Automatically adds those variables to the :root selector in the final CSS output.

Creates Utility Classes: Maps those variables to Tailwind utilities (like bg-background or font-display).
*/
@theme {
  --font-geist: "Geist", sans-serif;
  --color-brand-white: #ffffff;
}

@layer base {
  body {
    font-family: var(--font-geist);
    background-color: var(--color-brand-white);
  }
}